@import "tailwindcss";

body {
  font-family: "Unbounded", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.active {
  color: #a17f4a;
  font-weight: 500;
}

.footer-nav li {
  transition: all .1s ease-in-out;
}

.footer-nav li:hover {
  color: red;
}